@import "compass";
@import "compass/reset";

@import "variables";
@import "mixins";
@import "base";

body{
	background-color:rgb(200,200,200);
}

div{
	text-align:center;
	padding: 20px;
}

.important{
	@include border-radius(1px);
}
