<div class='row'>
	<div class='small-4 large-4 columns'>name</div>
	<div class='small-8 large-8 columns'><input ng-model='name' type='text'></div>
</div>
<div class='row'>{{nameErr}}</div>
<div class='row'>
	<div class='small-4 large-4 columns'>description</div>
	<div class='small-8 large-8 columns'><input ng-model='description' type='text'></div>
</div>
<div class='row'>
	<div class='small-4 large-4 columns'>deadline</div>
	<div class='small-8 large-8 columns'><input ng-model='deadline' type='date'></div>
</div>
<div class='row'>{{deadlineErr}}</div>
<div class='row'>
	<div class='small-4 large-4 columns'>AssignUser</div>
	<div class='small-8 large-8 columns'>
		<select ng-model="Selection"
                	ng-options="opt as opt.label for opt in options">
        </select>
	</div>
</div>
<div class='row'>{{message}}</div>
<div class='row'><button ng-click='a()'>Submit</button></div>