<div class='row'>
	<div class='small-4 large-4 columns'>name</div>
	<div class='small-8 large-8 columns'><input ng-model='name' type='text'></div>
</div>
<div class='row'>{{nameErr}}</div>
<div class='row'>
	<div class='small-4 large-4 columns'>email</div>
	<div class='small-8 large-8 columns'><input ng-model='email' type='text'></div>
</div>
<div class='row'>{{emailErr}}</div>
<div class='row'>{{message}}</div>
<div class='row'><button ng-click='a()'>Submit</button></div>
