<div class="list">		
	<div class='row' class="important">
    <div class="small-8 large-8 columns"><h1>Tasks</h1></div>
    <div class="small-4 large-4 columns"><a class="button" href="#/addtask">Add Task</a></div>
  </div>

   <div class="row" class="important">
      <div class="small-2 large-2 columns"><input type="radio" checked="true" ng-click="all()" name="filter">All</div>
      <div class="small-2 large-2 columns"><input type="radio" ng-click="pending()" name="filter">PendingTask</div>
      <div class="small-2 large-2 columns"><input type="radio" ng-click="completed()" name="filter">CompletedTask</div>
      <div class="small-6 large-6 columns">
        <div class="row">
          <div class="small-4 large-4 columns">SortBy</a></div>
          <div class="small-8 large-8 columns">
              <select ng-model="Selection" ng-options="opt as opt.label for opt in options" ng-change="method()"></select>
          </div>
        </div>
        <div class="row">
          <div class="small-6 large-6 columns"><input type="radio" checked="true" ng-click="inc()"name="order">Increasing</div>
          <div class="small-6 large-6 columns"><input type="radio" ng-click="dec()" name="order">Decreasing</div>
        </div>
      </div>
  </div>

  <div class="row">
      <div class="small-6 large-6 columns"><a class="button" ng-click='prev()'>Previous</a></div>
    <div class="small-6 large-6 columns"><a class="button" ng-click='next()'>Next</a></div>
  </div>
  <div ng-repeat="task in partialtasks">
    <div class="row">
        <div class="small-4 large-4 columns"><a href='#/taskinfo/{{task._id}}'>{{task.name}}</a></div>
        <div class="small-4 large-4 columns">
          <div class="row">Deadline: {{task.deadline}}</div>
          <div class="row">Assign to: {{task.assignedUserName}}</div>
        </div>
        <div class="small-4 large-4 columns"><a class="button" ng-click='del(task._id)'>Delete</a></div>
    </div>
  </div>

</div>

