<div class="row">
<div class="small-4 large-4 columns"><h4>{{task.name}}</h4></div>
<div class="small-4 large-4 columns"><h4>{{task.deadline}}</h4></div>
<div class="small-4 large-4 columns"><a class="button" href='#/updatetask/{{task_id}}'>Update</a></div>
</div>
<div class="row" style="text-align:left;">
	<h3>Assign to: {{task.assignedUserName}}</h3>
</div>
<div class="row" style="text-align:left;">
	<h3>Description</h3>
	<h5>{{task.description}}</h5>
</div>

