<div class="list" >		
	<div class='row' class="important">
    <div class="small-8 large-8 columns"><h1>Users</h1></div>
    <div class="small-4 large-4 columns"><a class="button" href="#/adduser">Add User</a></div>
  </div>
  <div ng-repeat="obj in data">
    <div class="row">
        <div class="small-4 large-4 columns"><a href='#/userinfo/{{obj._id}}'>{{obj.name}}</a></div>
        <div class="small-4 large-4 columns">{{obj.email}}</div>
        <div class="small-4 large-4 columns"><a class="button" ng-click='del(obj._id)'>Delete</a></div>
    </div>
  </div>

</div>

