<div class="row" class="important">
<div class="small-6 large-6 columns"><h2>{{user.name}}</h2></div>
<div class="small-6 large-6 columns"><h2>{{user.email}}</h2></div>
</div>
<div class="row"><h2>Tasks</h2></div>
<div ng-repeat="task in pendingTask" class="important">
	<div class="row">
		<div class="small-4 large-4 columns">{{task.name}}</div>
		<div class="small-4 large-4 columns">
		  <div class="row">Deadline: {{task.deadline}}</div>
          <div class="row">Assign to: {{task.assignedUserName}}</div>
		</div>
		<div class="small-4 large-4 columns"><a class="button" ng-click="complete(task._id)">Complete</a></div>
	</div>
</div>

<div class="row" class="important">
	<a class="button" ng-click="showOrhide()">Completed Task</a>
</div>
<div ng-repeat="task in completeTask" ng-show="show">
	<div class="row">
		<div class="small-6 large-6 columns">{{task.name}}</div>
		<div class="small-6 large-6 columns">
		  <div class="row">Deadline: {{task.deadline}}</div>
          <div class="row">Assign to: {{task.assignedUserName}}</div>
		</div>
	</div>
</div>